<a href="https://colab.research.google.com/github/Iamalok007/AI_ML_Projects/blob/main/credit_card.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#INSTALLING PACKAGES

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
#loading the dataset to panada dataframe
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [4]:
#first 5 rows of dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [5]:
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
3968,3617,1.134592,0.252051,0.488592,0.799826,-0.264819,-0.369918,-0.243365,0.049761,1.210818,...,-0.351115,-0.851463,0.186169,0.092463,0.020015,0.057976,-0.046611,0.012562,13.99,0.0
3969,3621,-1.338671,1.080974,1.291196,0.719258,0.101320,0.053896,0.001297,-0.917575,1.638510,...,0.498030,-0.483932,0.037686,0.053566,-0.560078,0.230423,-0.119911,0.321847,27.43,0.0
3970,3622,-0.339728,-2.417449,0.975517,2.537995,-1.720361,0.863005,0.032965,0.026764,2.487139,...,0.391639,0.264432,-0.735031,0.450594,0.310022,-0.231357,-0.049872,0.153526,730.32,0.0
3971,3623,-0.368639,0.947432,1.707755,0.932092,0.292956,0.189100,0.499330,0.132466,0.779412,...,-0.119045,0.056665,-0.172703,0.170073,0.139605,-0.420518,0.033794,0.005996,6.87,0.0
3972,3624,-0.663445,1.162921,1.508050,0.549405,0.231377,-0.106041,0.817977,-0.387026,1.488054,...,-0.420337,-0.361357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3973 entries, 0 to 3972
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    3973 non-null   int64
 1   V1      3973 non-null   float64
 2   V2      3973 non-null   float64
 3   V3      3973 non-null   float64
 4   V4      3973 non-null   float64
 5   V5      3973 non-null   float64
 6   V6      3973 non-null   float64
 7   V7      3973 non-null   float64
 8   V8      3973 non-null   float64
 9   V9      3973 non-null   float64
 10  V10     3973 non-null   float64
 11  V11     3973 non-null   float64
 12  V12     3973 non-null   float64
 13  V13     3973 non-null   float64
 14  V14     3973 non-null   float64
 15  V15     3973 non-null   float64
 16  V16     3973 non-null   float64
 17  V17     3973 non-null   float64
 18  V18     3973 non-null   float64
 19  V19     3973 non-null   float64
 20  V20     3973 non-null   float64
 21  V21     3973 non-null   float64
 22  V22     3973 non-null   float64
 23  V23     3972 non-null   float64
 24  V24     3972 non-null   float64
 25  V25     3972 non-null   float64
 26  V26     3972 non-null   float64
 27  V27     3972 non-null   float64
 28  V28     3972 non-null   float64
 29  Amount  3972 non-null   float64
 30  Class   3972 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 962.3 KB

In [9]:
#checking the no of misssing values in dataset
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [11]:
credit_card_data['Class'].value_counts()

0.0    3970
1.0       2
Name: Class, dtype: int64

#this dataset is highly unbalanced

0 --> normal transactions
1 --> fraudulent transaction

In [12]:
legit=credit_card_data[credit_card_data.Class == 0]
fraud=credit_card_data[credit_card_data.Class == 1 ]

In [13]:
print(legit.shape)
print(fraud.shape)

(3970, 31)
(2, 31)

In [14]:
legit.Amount.describe()

count    3970.000000
mean       64.899597
std       213.612570
min         0.000000
25%         2.270000
50%        12.990000
75%        54.990000
max      7712.430000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count      2.000000
mean     264.500000
std      374.059487
min        0.000000
25%      132.250000
50%      264.500000
75%      396.750000
max      529.000000
Name: Amount, dtype: float64

In [18]:
#compare the value for both transaaction
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,1638.828463,-0.332459,0.308935,0.837446,0.011432,-0.029468,0.053530,0.147357,-0.071642,0.056211,...,0.059567,0.010282,-0.082957,-0.058743,0.029114,0.095244,-0.012637,0.044658,0.002668,64.899597
1.0,439.000000,-2.677884,-0.602658,-0.260694,3.143275,0.418809,-1.245684,-1.105907,0.661932,-1.520521,...,1.114625,0.589464,0.200214,0.455377,0.013198,0.162159,0.016239,0.004186,-0.053756,264.500000

#under-sampling

build a sample dataset containing similar distribution of fraudulent transaction and normal transaction

no of fraudulent transaction in --> 492

In [19]:
legit_sample = legit.sample(n=492)

In [21]:
#concatinating new dataframe

In [23]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [25]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
2916,2463,0.950061,0.360673,0.678009,2.146867,0.660728,1.826052,-0.299231,0.635091,-1.039083,...,-0.074198,-0.175536,0.255303,-1.072822,-0.091946,-0.155241,0.061470,0.004550,6.03,0.0
460,339,0.503302,0.930065,-0.857525,2.042940,-1.505946,-1.000185,-1.991363,0.460577,-1.124101,...,0.379925,-0.062191,-0.012187,0.479788,0.531947,-0.441323,0.460792,0.219985,2.00,0.0
3504,2996,-3.511832,-3.395295,1.106859,1.240486,4.921594,-4.076725,-1.679333,0.026383,-0.599297,...,0.508517,0.186435,0.594461,0.411875,0.316920,-0.513504,-0.040499,0.234979,3.03,0.0
947,718,1.279896,0.151747,0.278450,0.518439,-0.320209,-0.725133,0.004643,-0.128099,0.205189,...,-0.295172,-0.908855,0.078185,-0.142483,0.252751,0.127479,-0.036642,0.013506,9.48,0.0
241,162,1.039964,-0.534355,1.865190,1.145122,-1.488133,0.589641,-1.119900,0.382781,1.419160,...,-0.014701,0.430843,-0.071344,0.638434,0.366778,0.451211,0.053840,0.023451,22.00,0.0

In [26]:
new_dataset['Class'].value_counts()

0.0    492
1.0      2
Name: Class, dtype: int64

#splitting the data into features and target

In [27]:
X =new_dataset.drop(columns='Class',axis=1)
Y =new_dataset['Class']

In [28]:
print(X)

      Time        V1        V2        V3        V4        V5        V6  \
2916  2463  0.950061  0.360673  0.678009  2.146867  0.660728  1.826052
460    339  0.503302  0.930065 -0.857525  2.042940 -1.505946 -1.000185
3504  2996 -3.511832 -3.395295  1.106859  1.240486  4.921594 -4.076725
947    718  1.279896  0.151747  0.278450  0.518439 -0.320209 -0.725133
241    162  1.039964 -0.534355  1.865190  1.145122 -1.488133  0.589641
...    ...       ...       ...       ...       ...       ...       ...
2340  1881  1.131979 -0.053359  1.182207  1.147381 -0.721792  0.317190
657    496 -0.652955  0.493216  1.246770 -0.707569  0.165764 -1.146224
1639  1266 -2.148128  1.039827 -1.002419 -0.929506  1.789280  3.431726
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823

            V7        V8        V9  ...       V20       V21       V22  \
2916 -0.299231  0.635091 -1.039083  ... -0.261745 -0.074198 -0.175536
460  -1.991363  0.460577 -1.124101  ...  0.166741  0.379925 -0.062191
3504 -1.679333  0.026383 -0.599297  ...  1.067361  0.508517  0.186435
947   0.004643 -0.128099  0.205189  ... -0.115175 -0.295172 -0.908855
241  -1.119900  0.382781  1.419160  ... -0.053880 -0.014701  0.430843
...        ...       ...       ...  ...       ...       ...       ...
2340 -0.632142  0.227050  0.573970  ... -0.077560 -0.025622  0.123172
657   0.932049 -0.094962 -0.861258  ...  0.117608 -0.209224 -0.894706
1639 -0.631536  1.813608 -0.040116  ...  0.200779 -0.223174 -0.667157
541  -2.537387  1.391657 -2.770089  ...  0.126911  0.517232 -0.035049
623   0.325574 -0.067794 -0.270953  ...  2.102339  0.661696  0.435477

           V23       V24       V25       V26       V27       V28  Amount
2916  0.255303 -1.072822 -0.091946 -0.155241  0.061470  0.004550    6.03
460  -0.012187  0.479788  0.531947 -0.441323  0.460792  0.219985    2.00
3504  0.594461  0.411875  0.316920 -0.513504 -0.040499  0.234979    3.03
947   0.078185 -0.142483  0.252751  0.127479 -0.036642  0.013506    9.48
241  -0.071344  0.638434  0.366778  0.451211  0.053840  0.023451   22.00
...        ...       ...       ...       ...       ...       ...     ...
2340 -0.064669  0.015585  0.445927 -0.407635  0.071676  0.025965    9.99
657   0.167075  0.528922 -0.419801  0.629628 -0.040930  0.097624   50.99
1639  0.024399  1.023700  0.308172  0.256425  0.149889  0.181677   14.93
541  -0.465211  0.320198  0.044519  0.177840  0.261145 -0.143276    0.00
623   1.375966 -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00

[494 rows x 30 columns]

In [29]:
print(Y)

2916    0.0
460     0.0
3504    0.0
947     0.0
241     0.0
       ...
2340    0.0
657     0.0
1639    0.0
541     1.0
623     1.0
Name: Class, Length: 494, dtype: float64

#splitting the data into trainin data and testing data

In [30]:
X_train,X_test,Y_train, Y_test =train_test_split(X,Y, test_size=0.2,stratify=Y,random_state=2)

In [31]:
print(X.shape,X_train.shape,X_test.shape)

(494, 30) (395, 30) (99, 30)

#model training

logical regression

In [32]:
print(X.shape,X_train.shape,X_test.shape)

(494, 30) (395, 30) (99, 30)

In [33]:
model=LogisticRegression()

In [34]:
model.fit(X_train,Y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

MODEL EVALUATION

acuuracy on training data

In [35]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [36]:
print("accuracy on training data :",X_train_prediction)

accuracy on training data : [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [37]:

print("accuracy on training data :",training_data_accuracy)

accuracy on training data : 1.0

In [38]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [39]:

print("accuracy on test data :",test_data_accuracy)

accuracy on test data : 1.0

#MAKING A PREDICTIVE SYSTEM

In [ ]:
input_data=(919,0.7797,0.7464,0.9444,1.0000,0.8874,0.8024,0.7818,0.5212,0.4052,0.3957,0.3914,0.3250,0.3200,0.3271,0.2767,0.4423,0.2028,0.3788,0.2947,0.1984,0.2341,0.1306,0.4182,0.3835,0.1057,0.1840,0.1970,0.1674,0.0583,0.1401,0.1628,0.0621,0.0203,0.0530,0.0742,0.0409,0.0061,0.0125,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044)
#changing input data to numpy Array
input_data_as_numpy_array=np.asarray(input_data)

#reshape the np array as we are predicting for one instance
input_data_reshaped=input_data_as_numpy_array.reshape(1,-1)


prediction=model.predict(input_data_reshaped)
print(prediction)